.custom-navbar {
    background-color: #D7EBCF;
  }
  
  .custom-navbar .navbar-brand {
    color: #000; /* Color del texto del logo */
  }
  
  .custom-navbar .navbar-brand.d-lg-none {
    position: absolute;
    left: 10px; /* Ajusta el espacio desde la esquina izquierda */
  }


  .section {
    height: calc(100% - 56px); /* Resta la altura del navbar */
    padding-top: 56px; /* Agrega espacio para el navbar fijo */
  }


  #principal {
    padding: 0px; /* Ajusta el relleno para que haya espacio entre el contenido y los bordes de la página */
  }
  
  .text-justify {
    text-align: justify; /* Justifica el texto */
  }


  #principal {
    margin-bottom: 20px; /* Espacio entre el div "principal" y las cartas */
  }
  
  .card {
    border: none;
    margin: 40px; /* Aumenta el espacio entre las cartas */
    padding: 30px; /* Agrega relleno interno a las cartas */
  }
  .card-body {
    text-align: justify;
    
  }

#pie{
    background-color: #D7EBCF;
  }
  #pie {
    padding: 20px; /* Añade un relleno al contenedor principal */
  }
  
  #pie .row {
    margin-left: -10px; /* Elimina el espacio lateral causado por el padding negativo de la clase row */
    margin-right: -10px;
  }
  
  #pie .col-12 {
    padding: 0 10px; /* Añade un relleno lateral para compensar el padding negativo de la clase row */
  }
  
  #pie h5 {
    font-size: 1.5rem; /* Tamaño de fuente para el título */
    color: #333; /* Color del texto */
  }
  
  #pie p {
    color: #666; /* Color del texto */
  }
  
  #pie a {
    color: #007bff; /* Color del enlace */
    text-decoration: none; /* Elimina el subrayado predeterminado */
  }
  
  #pie a:hover {
    text-decoration: underline; /* Agrega subrayado al pasar el ratón sobre el enlace */
  }
  
  #pie .form-label {
    font-weight: bold; /* Hace que las etiquetas de formulario sean negritas */
    color: #333; /* Color del texto */
  }
  
  #pie .btn-primary {
    background-color: #007bff; /* Color de fondo del botón */
    border-color: #007bff; /* Color del borde del botón */
  }
  
  #pie .btn-primary:hover {
    background-color: #0056b3; /* Cambia el color de fondo del botón al pasar el ratón sobre él */
    border-color: #0056b3; /* Cambia el color del borde del botón al pasar el ratón sobre él */
  }
  